*.swp
.#*
*~
plugged
*.DS_Store
config/emacs/straight/
config/emacs/eshell/history
config/emacs/eshell/lastdir
config/emacs/games/
config/emacs/ido.last
config/emacs/places
config/emacs/url/
config/emacs/auto-save-list/
config/emacs/backups/
config/emacs/games/
config/emacs/transient/
config/emacs/nov-places/
config/emacs/requests/
config/emacs/tramp/
