*.swp
.#*
*~
plugged
plug.vim
plug.vim.old
*.DS_Store
config/emacs/straight/
config/emacs/eshell/history
config/emacs/eshell/lastdir
config/emacs/games/
config/emacs/ido.last
config/emacs/places
config/emacs/url/
config/emacs/auto-save-list/
config/emacs/backups/
config/emacs/games/
config/emacs/transient/
config/emacs/nov-places/
config/emacs/requests/
config/emacs/tramp/
.cache
/config/emacs/.lsp-session-v1
/config/emacs/projectile-bookmarks.eld
/config/emacs/recentf
/config/emacs/tramp
/config/emacs/irony/
/config/emacs/bookmarks
/config/emacs/.dap-breakpoints
/config/emacs/elpa/
.var/
/config/emacs/etc/
/config/emacs/local.el
*.eln
/config/emacs/eln-cache/
