window#waybar {
    font-family: Iosevka, Monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: #282a36;
    padding-left: 20px;
    padding-right: 20px;
}

window > box {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button {
    padding: 0 6px;
    border-radius: 0px;
}

#workspaces button.focused {
    background-color: #bd93f9;
    color: #282a36;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 6;
    margin-left: 10px;
}

#pulseaudio {
    color: #f1fa8c;
    border-bottom: 2px solid #f1fa8c;
}

#network {
    color: #8be9fd;
    border-bottom: 2px solid #8be9fd;
}

#battery {
    color: #ff79c6;
    border-bottom: 2px solid #ff79c6;
}

#clock {
    color: #bd93f9;
    border-bottom: 2px solid #bd93f9;
}
